<div class="contenedor d-flex px-1">
    <div class="imgg d-flex col-12">
        <div class="imggg col-4">
            <img src="./assets/img/2.jpg">
        </div>
        <div class="textos col-7">
            <h2><strong>The Second Heading</strong> Is Pretty Cool Too.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Atque inventore molestiae corporis minus, placeat quidem iusto impedit et recusandae, beatae deleniti sit. 
                Asperiores ad possimus quod dolorum nihil fugiat ex!</p>
        </div>
    </div>
</div>
